{% extends "ngo/base.html" %}
{% load crispy_forms_tags %}
{% block style %}
.image-card {
            margin-left:200px !important;
}
.profile{
  margin-left: 50px;
  font-size: 70px;
}

{% endblock style %}

{% block body %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="jumbotron" style="background-color: rgb(233, 233, 233);">
    <div>
    <img class="img-thumbnail align-middle image-card" src="{{ event.organisation_picture.url }}">
    <span class="profile">{{ event}}</span>
    </div>
    <div class="content-section">
      <div class="media">
      </div>
        <div class="col-md-12 border-right">
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Profile</legend>
              <div class="form-row">
                 <div class="col mr-2">
                    <div class="form-group">
                        {{ form.name|as_crispy_field }}
                    </div>
                  </div>
                   <div class="col ml-2">
                    <div class="form-group">
                        {{ form.email|as_crispy_field }}
                    </div> 
                  </div>
                </div>
                <div class="form-row">
                 <div class="col mr-2">
                    <div class="form-group">
                        {{ form.manager_name|as_crispy_field }}
                    </div>
                  </div>
                   <div class="col ml-2">
                    <div class="form-group">
                        {{ form.phone_number|as_crispy_field }}
                    </div> 
                  </div>
                </div>
                <div class="form-row">
                 <div class="col mr-2">
                    <div class="form-group">
                        {{ form.address|as_crispy_field }}
                    </div>
                  </div>
                </div>
                 <div class="form-row">
                 <div class="col mr-2">
                    <div class="form-group">
                        {{ form.state|as_crispy_field }}
                    </div>
                  </div>
                   <div class="col ml-2">
                    <div class="form-group">
                        {{ form.city|as_crispy_field }}
                    </div> 
                  </div>
                  <div class="col ml-2">
                    <div class="form-group">
                        {{ form.zipcode|as_crispy_field }}
                    </div> 
                  </div>
                </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock body %}