{% extends "ngo/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<body style="background-color: rgb(255, 255, 255);">
  <div class="container mt-4">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Event</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
</body>
{% endblock body %}