{% extends "ngo/base.html" %}
{% load crispy_forms_tags %}
{% block style %}
 body{
     background-color: rgb(10, 60, 66);
 }
{% endblock style %}
{% block body %}
<div class="container">
     <div class="jumbotron" style="background-color: rgb(233, 233, 233);">
        <form action="{% url 'ngo-login' %}" method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="text-align : center;">NGO Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
    </div>
    </div>
{% endblock body %}