{% extends "ngo/base.html" %}
{% load crispy_forms_tags %}
{% block style %}
 body{
     background-color: rgb(10, 60, 66);
 }
{% endblock style %}


{% block body %}
<div class="container">
     <div class="jumbotron" style="background-color: rgb(233, 233, 233);" >
        <form method='POST'>
            {% csrf_token %}
            <h2 className="contact_h2 text-center">NGO Registration</h2>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ form.username|as_crispy_field }}
                    </div> 
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.NGO_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.manager_name|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.phone_number|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ form.address|as_crispy_field }}
                    </div> 
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.city|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.state|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.zipcode|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>

{% endblock body %}

